bin/metric-ff
cabal-dev
*.gfo
planner-haskell/dist
planner-haskell/cabal-dev
planner-haskell/planner
planner-haskell/planner.hi
planner-haskell/planner.o
ff
.DS_Store
*.sublime-project
*.sublime-workspace
*.o
*.aux
*.tex
*.bbl
*.dvi
*.fls
*.pdf
*.run.xml
*.blg
*.bcf
*.fdb_latexmk
